html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.wrapper {
  margin: 10px;
}
.red {
  background-color: red;
}
input {
  width: 200px;
  border-radius: 100px;
  padding: 0 15px;
  height: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  align-items: center;
  color: #535d8a;
}
input:valid {
  background-color: rgb(210, 255, 210);
}
div input:invalid {
  width: 1000px;
  background-color: rosybrown;
}
input:invalid {
  background-color: rgb(255, 227, 227);
}
